<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="my.storeModel.design.Activator"
               id="my.storeModel.design"
	       name="storeModel">
    </component>
  </extension>
</plugin>
