<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddStore"
            id="AddStore">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddCharacteristicToResourceEnvironment"
            id="AddCharacteristicToResourceEnvironment">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddCharacteristicToUsageModel"
            id="AddCharacteristicToUsageModel">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddCharacteristicToRepository"
            id="AddCharacteristicToRepository">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.SetVarParameterForParameterBasedData"
            id="SetVarParameterForParameterBasedData">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.SetOperationSignatureForResultbasedData"
            id="SetOperationSignatureForResultbasedData">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveCharacteristicFromResourceEnvironment"
            id="RemoveCharacteristicFromResourceEnvironment">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveOperationSignatureDataRefinement"
            id="RemoveOperationSignatureDataRefinement">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.CreateOperationSignatureDataRefinement"
            id="CreateOperationSignatureDataRefinement">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveCharacteristicFromRepository"
            id="RemoveCharacteristicFromRepository">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveCharacteristicFromUsageModel"
            id="RemoveCharacteristicFromUsageModel">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.DeleteStore"
            id="RemoveStore">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddDataProcessingContainerToUsageModel"
            id="AddDataProcessingContainerToUsageModel">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveDataprocessingContainerFromUsageModel"
            id="RemoveDataprocessingContainerFromUsageModel">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveDataprocessingContainerFromSeff"
            id="RemoveDataprocessingContainerfromSeff">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddDataProcessingContainerToSeff"
            id="AddDataProcessingContainerToSeff">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddDataToSeff"
            id="AddDataToSeff">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddOutputMapping"
            id="AddOutputMapping">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddInputMapping"
            id="AddInputMapping">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddDataOperationToUsageModel"
            id="AddDataOperationToUsageModel">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddDataToUsageModel"
            id="AddDataToUsageModel">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddDataOperationToSeff"
            id="AddDataOperationToSeff">
      </javaActions>
   </extension>
</plugin>
