<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.ExternalJavaAction3"
            id="org.palladiosimulator.editors.sirius.repository.dataprocessingExtension.custom.javaActions3">
      </javaActions>
   </extension>

</plugin>
