<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.SetVarParameterForParameterBasedData"
            id="SetVarParameterForParameterBasedData">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.SetOperationSignatureForResultbasedData"
            id="SetOperationSignatureForResultbasedData">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.CreateOperationSignatureDataRefinement"
            id="CreateOperationSignatureDataRefinement">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveOperationSignatureDataRefinement"
            id="RemoveOperationSignatureDataRefinement">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddCharacteristicContainer"
            id="AddCharacteristicContainer">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.RemoveCharacteristic"
            id="RemoveCharacteristic">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.AddStore"
            id="AddStore">
      </javaActions>
      <javaActions
            actionClass="org.palladiosimulator.editors.sirius.repository.dataprocessingextension.custom.DeleteStore"
            id="RemoveStore">
      </javaActions>
   </extension>
</plugin>
